


/* MAIN CONTAINER */
.gridContanier {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  height: 100vh;
}
.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 .5em;
  transition: background-color 0.3s ease;
}
.top-bar{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row-reverse;
}
.control-section{
  display: flex;
  align-items: center;
}
.select-dropdown select:focus {
  height: 160px; 
  overflow-y: auto;
}
.custom-select {
  position: relative;
  width: 220px;
}

.custom-select-display {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-options {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  max-height: 180px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  overflow-y: auto;
  z-index: 100;
}

.custom-option {
  padding: 8px 10px;
  cursor: pointer;
}

.custom-option:hover {
  background: #f0f0f0;
}

.arrow {
  font-size: 12px;
}
.custom-select {
  position: relative;
  width: 220px;
}

.custom-select-display {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-options {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  max-height: 180px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  overflow-y: auto;
  z-index: 100;
}

.custom-option {
  padding: 8px 10px;
  cursor: pointer;
}

.custom-option:hover {
  background: #f0f0f0;
}

.arrow {
  font-size: 12px;
}


.cellRender{
  display:flex;
  align-items: center;
  gap:5px;
}
p{
  margin:0;
}